.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: linear-gradient(135deg, #2c3e50, #3498db);
  color: white;
  z-index: 1000;
}
.logo a {
    color: #ffffff;         
    text-decoration: none;  
}

.logo a:hover,
.logo a:focus {
    color: #ffffff;          
    text-decoration: none;   
}
.logo {
  color: white !important;
  text-decoration: none !important;
  font-size: 30px;
  font-weight: 600;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background: none;
  margin-right: 100px;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 16px;
  border-radius: 6px;
  transition: 0.2s ease;
}

.dropbtn:hover {
  background-color:#2c3e50;
  color: #f0f0f0;
}


.dropdown-menu {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: whitesmoke;
  min-width: 150px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 10px 0;
}

.dropdown-menu li {
  padding: 8px 15px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
}

.dropdown-menu li:hover {
 background-color: #3498db;
}