.row {
  margin-top: 40px;
}

h2 {
  text-align: center;
  margin-bottom: 35px;
  margin-top: -10px;
  font-weight: 600;
  color: #1f2d3d;
}

.table {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #f4f4f4;
  border-radius: 14px;
  overflow: hidden;
}

.table thead {
  background: linear-gradient(90deg, #2b7bb9, #243b55);
  color: white;
}

.table thead th {
  padding: 18px;
  font-weight: 600;
  text-align: center;
  border: none;
}

.table tbody td {
  padding: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: #eaeaea;
}

.table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #cfcfcf;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eaeaea !important;
}

.table tbody tr:hover td {
  background-color: #e0e0e0;
  transition: background-color 0.2s ease-in-out;
}

.action-buttons {
  background-color: #1f6ed4;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.action-buttons:hover {
  background-color: #1557a0;
}

.delete-btn {
  background-color: #e31b1b;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background-color: #b31313;
}