.row {
  margin-top: 25px;
  max-width: 100%;
  margin-bottom: 50px;
}

h2 {
  text-align: center;
  margin-bottom: 25px;
  margin-top: 70px;
  font-weight: 600;
  color: #1f2d3d;
}
<<<<<<< HEAD
=======
.main-content {
  padding-bottom: 80px;
  justify-content: center;
}
>>>>>>> bb85a2dfe384ea106dd0cdec16154dc4d6bc5c13

.table-container {
  margin-top: 40px;
}
.table-container thead th {
  position: sticky;
  top: 0;
  background: linear-gradient(to right, #2c5364, #203a43);
  color: white;
  z-index: 10;
}

.table {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  border-collapse: collapse;
  background-color: #f4f4f4;
  border-radius: 14px;
  overflow: hidden;
}

.table thead {
  background: linear-gradient(90deg, #2b7bb9, #243b55);
  border-collapse: collapse;
  color: white;
}

.table thead th {
  padding: 18px;
  font-weight: 600;
  text-align: center;
  border-collapse: collapse;
  background: transparent;  
  border: none; 
}

.table tbody td {
  padding: 18px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}

.table tbody tr:not(:last-child) td {
  border-bottom: 1px solid #cfcfcf;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eaeaea !important;
}

.table tbody tr:hover td {
  background-color: #e0e0e0;
  transition: background-color 0.2s ease-in-out;
}

.action-buttons {
  background-color: #1f6ed4;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  color: white;
  font-weight: 500;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.action-buttons:hover {
  background-color: #1557a0;
}

.delete-btn {
  background-color: #e31b1b;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background-color: #b31313;
}

.btn.btn-success {
  background-color: #448EC0;
  border: none;
  padding: 6px 16px;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease;
}
.btn.btn-success:hover {
  background-color: #2e844d;
}
.add-patient-wrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;  
}
.add-patient-wrapper .btn {
  padding: 10px 24px;
  font-weight: 500;
  border-radius: 6px;
  margin-top: -10px;
  margin-bottom: -15px;;
  min-width: 150px;
}

